<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="A site all about yours truely">
    <meta name="keywords" content="games, game development, programming, personal website">
    <meta name="author" content="Jordan Di Palma">
    <title>The JDP | About</title>
    <link rel="stylesheet" href="/assets/css/style.css">
  </head>
  <body>
    <header>
      <div class="container">
        <div id="branding">
          <h1>The <span class="highlight">JDP</span></h1>
        </div>
        <nav>
          <ul>
            <li><a href="home">Home</a></li>
            <li class="current"><a href="about">About</a></li>
            <li><a href="creative">Creative</a></li>
            <li><a href="logs">Logs</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <section id="main">
      <div class="container">
        <article id="main-column">
          <h1 class="page-title">About Me</h1>
          <p>
            Mauris aliquam dictum libero, eget feugiat arcu. Proin lorem ipsum, vehicula ac faucibus id, vestibulum at magna. Sed facilisis eros sem, non tincidunt arcu elementum sit amet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ac lacinia mi, id volutpat nunc. Mauris vitae odio vitae turpis porttitor cursus. Fusce consectetur tempor enim in sollicitudin. Vestibulum ultrices nulla nulla. Nam tempor nisl velit, sit amet molestie dolor scelerisque a. Donec at massa ut risus tincidunt efficitur.
          </p>
          <p>
            Etiam a tellus diam. Vestibulum lacinia metus ac dapibus blandit. Suspendisse potenti. Donec venenatis ligula eget porttitor venenatis. Quisque imperdiet cursus venenatis. Phasellus id elit tortor. Mauris eleifend lacinia nunc sit amet efficitur. Aenean elementum purus eget nisi feugiat lobortis. Suspendisse potenti.
          </p>
        </article>

        <aside id="sidebar">
          <div class="dark">
            <h3>Life Goals</h3>
            <p>
              This box is dark cuz we bout to get deep. Main goal is to improve myself and experience as much of the word as possible. I want to take on challenges, and the harder they are the better, because if it's not hard then it's not worth doing. I want to live in a manner that justifies the suffering in the world. Mauris aliquam dictum libero, eget feugiat arcu. Proin lorem ipsum, vehicula ac faucibus id, vestibulum at magna. Sed facilisis eros sem, non tincidunt arcu elementum sit amet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ac lacinia mi, id volutpat nunc. Mauris vitae odio vitae turpis porttitor cursus. Fusce consectetur tempor enim in sollicitudin. Vestibulum ultrices nulla nulla. Nam tempor nisl velit, sit amet molestie dolor scelerisque a.
            </p>
          </div>
        </aside>
      </div>
    </section>

    <section id="newsletter">
      <div class="container">
        <h1>Sign up for insane weekly content</h1>
        <form>
          <input type="email" placeholder="Enter email">
          <button type="submit" class="button_1">Sell Soul</button>
        </form>
      </div>
    </section>

    <footer class="footer">
      <p>Don't steal my god dam website. Copywrite &copy; 2018</p>
    </footer>

  </body>
</html>
