<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="A site all about yours truely">
    <meta name="keywords" content="games, game development, programming, personal website">
    <meta name="author" content="Jordan Di Palma">
    <title>The JDP | Home</title>
    <link rel="stylesheet" href="/assets/css/style.css">
  </head>
  <body>
    <header>
      <div class="container">
        <div id="branding">
          <h1>The <span class="highlight">JDP</span></h1>
        </div>
        <nav>
          <ul>
            <li class="current"><a href="home">Home</a></li>
            <li><a href="about">About</a></li>
            <li><a href="creative">Creative</a></li>
            <li><a href="logs">Logs</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <section id="showcase">
      <div class="container">
        <h1>I'm basically a God<br> Here's why</h1>
      </div>
    </section>

    <section id="boxes">
      <div class="container">
        <div class="box">
          <div class="imgBox"><a href="games"><img title="Lit Games" src="/assets/images/logo_games.png"></a></div>
          <h3>Games</h3>
          <p>I make games. Been on that grind since 2016, and I don't plan on stopping. You can play em if you want, they're pretty fresh and they're unblocked.</p>
        </div>
        <div class="box">
          <div class="imgBox"><a href="arch"><img title="Comfy Rice" src="/assets/images/logo_arch.png"></a></div>
          <h3>Arch Linux</h3>
          <p>I use Arch Linux. The most cutting-edge and high-tech linux distribution. Check out my <i>comfy</i> i3 setup and workflow all on a <b>THICC</b> Lenovo s10-3 ideapad.</p>
        </div>
        <div class="box">
          <div class="imgBox"><a href="art"><img title="Exquisite Art" src="/assets/images/logo_art.png"></a></div>
          <h3>Art</h3>
          <p>I watch Bob Ross. The man was an absolute legend, and he inspired me to give painting a crack. Look at my paintings to see how much I can destroy the good memory of ol Bobby Ross.</p>
        </div>
      </div>
    </section>

    <footer class="footer">
      <p>Don't steal my god dam website. Copywrite &copy; 2018</p>
    </footer>

  </body>
</html>

<!-- <canvas id="canvas"></canvas>
<script src="scripts/block.js"></script>
<script src="scripts/keyInput.js"></script>
<script src="scripts/main.js"></script> -->
